.sign-in {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  margin: 20px;

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
  .error {
    color: red;
  }
}
