* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans Condensed';
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 546px) {
  body {
    padding: 20px;
  }
}
