.signin-signup {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 20px 60px;

  .sign-in {
    .buttons {
      flex-flow: column;

      .custom-button {
        margin: 10px;
      }
    }
  }

  .sign-up {
    .buttons {
      flex-flow: column;

      .custom-button {
        margin: 10px;
      }
    }
  }
}
